<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THANK YOU!</title>
</head>
<style>
    body{
        background-image: url('/images/background2.jpg');
        background-repeat: no-repeat;
    }

    img{
        display: flex;
        justify-content: center;
        margin-left: 25%;
        width:50%;
    }

    .middle{
        font-family:'Courier New', Courier, monospace;
        font-size: 2rem;
        margin-top: 20%;
        text-align: center;
        color: white;
        font-weight:bolder;
    }

    .box{
        padding: 5%;
        background-color: #9F2562;
        border-radius: 30px;
        opacity: 90%;
    }

    @media screen and (max-width:767px){
        img{
        display: flex;
        justify-content: center;
        margin-left: 15%;
        width:70%;
    }

    .middle{
        font-size: 1rem;
        margin-top: 45%;
    }
      
  }

</style>
<body>
    <div>
    <img src="/images/logo.png">
</div>

<div class="middle">
    <div class="box">
    <h1>THANK YOU FOR SUBMITTING THE FORM</h1>
    <h3>We're so excited for you to join our family !</h3>
    </div>
</div>
    
</body>
</html>